{{#array}}
  I'm {{name}}. 
{{#is_man}}
  I'm lady and {{age}} years old.
{{/is_man}}
{{/array}}

{{#array2}}
  name={{name}} 
{{#is_man}}
  age={{age}}
{{#array3}}
{{#is_tokyo}}
  desc={{desc}}
{{/is_tokyo}}
{{/array3}}
{{/is_man}}
{{/array2}}

